{% extends 'quiz/layout.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <h1>Quiz List</h1>
    <hr>
    <div style="padding-left: 45px;">
        <!-- Chose Topic -->
        <form action="{% url 'quiz:topic' %}" method="POST">
            {% csrf_token %}
            <label for="topic">Topic:</label>
                <select name="topic" class="form-select" aria-label="Default select example">
                    <option selected>Select Topic</option>
                    <option value="Math">Math</option>
                    <option value="English">English</option>
                    <option value="General Knowledge">General Knowledge</option>
                    <option value="Animals">Animals</option>
                    <option value="Science">Science</option>
                    <option value="Geography">Geography</option>
                </select>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <!-- Quiz Cards -->
        {% for obj in page_obj %}
            <div class="card mx-3" style="width: 18rem; margin-bottom: 30px; display: inline-block;" >
                <div class="card-body" style="text-size: 50px">
                    <img class="card-img-top" src="{{ obj.image.url }}" alt="{{ obj.name }}" height="200px" width="287px" >
                    <button type="button" class="btn btn-link modal-button" data-pk="{{ obj.pk }}" data-quiz="{{ obj.name }}" data-questions="{{obj.number_of_questions}}" data-difficulty="{{obj.difficulty}}" data-time="{{obj.time}}" data-pass="{{obj.required_score}}" data-toggle="modal" data-target="#quizStartModal">
                        {{obj.name}}
                    </button>
                </div>
            </div>
            
        {% endfor %}
        <!-- Modal -->
        <div class="modal fade" id="quizStartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you ready?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" id="modal-body-confirm">
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" id="start-button" class="btn btn-success">Let's go</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="{% url 'quiz:index' %}?page={{ num }}">{{ num }}</a>

                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <script src="{% static 'quiz/index.js' %}"></script>
{% endblock %}